/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
 /* :root {
  
 
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
  
}

*/

/*  :root {
  --ifm-color-primary: #305b90;
  --ifm-color-primary-dark: #2b5282;
  --ifm-color-primary-darker: #294d7a;
  --ifm-color-primary-darkest: #224065;
  --ifm-color-primary-light: #35649e;
  --ifm-color-primary-lighter: #3769a6;
  --ifm-color-primary-lightest: #3e76bb;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
 */

/*:root {
  --ifm-color-primary: #3578e5; 
  --ifm-color-primary-dark: #1d68e1; 
  --ifm-color-primary-darker: #1b62d4;
  --ifm-color-primary-darkest: #1751af; 
  --ifm-color-primary-light: #4e89e8; 
  --ifm-color-primary-lighter: #5a91ea; 
  --ifm-color-primary-lightest: #80aaef; 
  --ifm-code-font-size: 90%; 
*/

/* For readability concerns, you should choose a lighter palette in dark mode. */
/*
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
*/
/*
[data-theme='dark'] {
  --ifm-color-primary: #7f96bf;
  --ifm-color-primary-dark: #6a85b4;
  --ifm-color-primary-darker: #5f7caf;
  --ifm-color-primary-darkest: #4a6594;
  --ifm-color-primary-light: #94a7ca;
  --ifm-color-primary-lighter: #9fb0cf;
  --ifm-color-primary-lightest: #bfcadf;
  --ifm-background-color: #18181b;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 996px) {
  :root {
    --ifm-font-size-base: 18px;
  }
  article header h1 {
    font-size: 1.5rem !important;
  }
  .hero .hero__title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 997px) {
  :root {
    --ifm-font-size-base: 17px;
  }
  article header h1 {
    font-size: 2rem !important;
  }
}

*/

:root {
  --ifm-color-primary: #1f93ff;
  --ifm-color-primary-dark: #0285ff;
  --ifm-color-primary-darker: #007ef3;
  --ifm-color-primary-darkest: #0068c8;
  --ifm-color-primary-light: #3ca1ff;
  --ifm-color-primary-lighter: #4aa8ff;
  --ifm-color-primary-lightest: #75bcff;
  --ifm-footer-background-color: #fff;
  --ifm-code-font-size: 75%;
  --ifm-heading-family-base: 'Helvetica Neue', Helvetica, -apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --ifm-font-family-base: 'Helvetica Neue', Helvetica, -apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --doc-sidebar-width: 248px !important;
  --ifm-menu-link-padding-horizontal: 0.5rem;
  --ifm-menu-link-padding-vertical: 0.25rem;
  --ifm-menu-color-background-hover: transparent;
  --ifm-menu-color-background-active: transparent;
  --color-body: #23282e;
  --ifm-h1-font-size: calc(1.375rem + 1vw) !important;
  --ifm-navbar-height: 5rem;
  --ifm-navbar-link-font-size: 1.0625rem;
  --ifm-navbar-link-color: #506690;
  --ifm-h1-font-size: 2.4rem !important;
  --docusaurus-announcement-bar-height: 2.4rem !important;
}

.markdown {
  font-size: 1.1rem;
}

html[data-theme="light"] {
  --ifm-heading-color: #3c4858;
}

html[data-theme="light"] .markdown {
  color: var(--ifm-heading-color);
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ifm-heading-family-base);
  font-weight: 600;
}

.navbar__title, .navbar__item {
  font-family: var(--ifm-heading-family-base);
}

@media screen and (min-width: 997px) {
  .menu {
    padding: 2.5rem 0.8rem !important;
    font-size: 0.875rem;
  }

  .mw-25 {
    max-width: 25%;
  }

  .mw-50 {
    max-width: 50%;
  }
}

@media screen and (max-width: 996px) {
  h1 {
    font-size: 2.4rem !important;
  }
}


.menu__link:hover {
  color: var(--ifm-color-primary);
}

.navbar__title {
  font-size: var(--ifm-navbar-link-font-size);
}

html[data-theme="light"] .navbar__title {
  color: var(--ifm-heading-color);
}

.navbar__link {
  font-size: var(--ifm-navbar-link-font-size);
}

.menu__link--sublist::after {
  background: var(--ifm-menu-link-sublist-icon) 50% / 1.5rem 1.5rem;
}

html[data-theme="light"] .navbar__link {
  color: var(--ifm-navbar-link-color);
}

.menu__list {
  margin: 0.25rem 0 1.5rem;
}

.menu__list .menu__list-item {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.75rem;
  font-family: var(--ifm-heading-family-base);
  letter-spacing: 0;
}

.menu__list .menu__list .menu__list-item {
  font-weight: 400;
  text-transform: none;
  font-size: 1rem;
  font-family: var(--ifm-font-family-base);
  color: rgb(80, 102, 144);
}


.table-of-contents {
  font-size: 1rem;
}

html[data-theme="light"] .navbar__link:hover,
html[data-theme="light"] .navbar__link--active {
  color: var(--ifm-navbar-link-hover-color) !important;
}

.d-block {
  display: block;
}

.markdown {
  padding: 1rem 2.4rem;
}

.theme-doc-breadcrumbs {
  padding: 1rem 2.4rem 0;
}

@media screen and (max-width: 997px) {
  .markdown {
    padding: 0.8rem;
  }
}

.markdown h1:first-child {
  --ifm-h1-font-size: 2.4rem;
}

.doc-page--footer {
  padding: 2.4rem;
  margin-top: 1rem;
  background: var(--ifm-color-secondary-lightest);
  border-radius: 8px;
}

.doc-page--footer--edit {
  display: flex;
  justify-content: space-between;
}

.image-caption {
  text-align: center;
  font-size: .8rem;
  color: lightgrey;

}

@media screen and (max-width: 997px) {
  .doc-page--footer--edit {
    flex-direction: column;
  }

  div[class^='announcementBar_'] {
    height: 4rem;
  }
}

div[class^='announcementBar_'] {
  background-color: var(--ifm-color-primary);
  color: #fff;
}

.hidden {
display: none !important;
}
